.update-form{
    height: auto;
}
.buttonContainer {
    display: flex;
    justify-content: space-around;
}
  
.buttonContainer button {
    margin-right: 10px;
}

.cancelButton{
    margin-top: 6px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}

.updateButton{
    margin-top: 6px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    cursor: pointer;
}
