.card {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    font-size: 13px;
    color: brown;
    border-bottom: 0.5px solid brown;
    margin: 3px 0;
}

.place  {
    font-size: 14px;
}

.desc {
    font-size: 14px;
}

.star {
    color: red;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
}

form{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
    color: gray;
}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}
/* .buttons-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* Ensures the buttons stay on top of the map */

.button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.logout{
    background-color: tomato;
    margin-top: 10px;
}
.login{
    background-color: teal;
    margin-right: 10px;
}
.register{
    background-color: slateblue;
}
.greeting-hi{
    background-color: chocolate;
}
.buttons{
    position: absolute;
    top: 10px;
    right: 10px;
}


.buttonContianer{
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    margin-right: 20px;
}

.buttonContianer button{
    margin-left: 10px; 
    z-index: 100;
}

.greeting-hi{
    background-color: chocolate;
    margin-top: 10px;
}

.alert-timeout{
    z-index: 1000;
    position: absolute;
}