.card {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    font-size: 13px;
    color: brown;
    border-bottom: 0.5px solid brown;
    margin: 3px 0;
}

.place  {
    font-size: 14px;
}

.desc {
    font-size: 14px;
}

.star {
    color: red;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
}